.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

button {
    margin-bottom: .9rem;
}

.title h1 {
    font-size: 2rem;
    color: #484848;
    font-weight: 400;
}

.table {
    width: 100%;
}

.votos {
    color: #484848;
    margin-left: .6rem;
}